.header-nav {
  border-radius: 0;
  border:0;
}
header{
  background-color:peru;
}
.float-end{
  padding-right: 15px;
}
.col-md-6{
  margin-top:20px;
 }
 .first{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  padding-top: 150px;
}
span{
  font-weight: bold;
}

#nav-list a:hover {
  background-color: gray;
}
.progress{
  margin-top: 20px;
}
.LG{
  padding-top: 200px;
}
.name{
  padding-top: 210px;
  font-weight: bold;
}
.fa-brand{
  padding-top: 190px;
}

.col-md-3{
  border: 1px solid black;
  padding: 0px;
  margin-right: 3px;
  width:24% !important;
}
@media(max-width:576px){
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;

 }
}
@media(max-width:767px){
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  
   }
   @media(max-width:992px){
    .footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
     }
    }
  }
@media(max-width:1200px){
  .footer{
    display:flex;
    align-items: center;
  } 
  .LG{
    margin-left: 200px
  }
}
.fa-brand{
  margin-left: 270px;
}
@media(min-width:1200px){
  .footer{
    display:flex;
    align-items: center;
  } 
  .LG{
    margin-left: 300px
  }
}
.fa-brand{
  margin-left: auto;
}
  
